body {
  height: 100%;
  background: #110101;
  overflow: hidden;
}
.robots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.robots img {
  max-width: 15%;
}

.btn {
  text-align: center;
}

button {
  text-transform: uppercase;
  background-color: rgb(203, 213, 221);
  padding: 15px 5px;
  border: none;
  border-radius: 25px;
}

.btn button:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.hide {
  display: none;
}
