body {
  height: 100%;
  background: #110101;
  overflow: hidden;
}

#robotRight {
  position: absolute;
  max-width: 15%;
}

#robotLeft {
  position: absolute;
  max-width: 15.15%;
  margin-top: 0.2%;
}

.btn button {
  position: absolute;
  top: 85%;
  left: 45%;
  text-transform: uppercase;
  padding: 15px 5px;
  border-radius: 25px;
}

.btn button:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
